<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Add</title>
        <link rel="stylesheet" href="./css/addStyles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
    </head>

    <body> 
        <div id="card" class="card">
            <h1 class="title">Add Markdown File To Vault</h1>
            <input id="filename" class="input" type="text" placeholder="File Name"/>
            <textarea id="content" class="input" rows="10" placeholder="Content"></textarea>
            <input id="tags" class="input" type="text" placeholder="Tags"/>
            <label class="container">
                <div class="public-text">Public</div>
                <input id="check-public" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <button id="submit-btn" class="submit-btn">Submit</button>
        </div>
        <script type="text/javascript" src="./js/marked.min.js"></script>
        <script src="./js/addScript.js"></script>
    </body>
</html>