<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
        <link rel="stylesheet" href="./css/loginStyles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
    </head>

    <body> 
        <div id="card" class="card">
          <h1 class="title">Login</h1>
          <input id="username" class="input" type="text" placeholder="Username"/>
          <input id="password" class="input" type="password" placeholder="Password"/>
          <button id="login-btn" class="login-btn">Submit</button>
          <p class="footer">Not a member? <a href="/signup" class="footer-span">Sign Up</a></p>
        </div>
        <script type="text/javascript" src="./js/marked.min.js"></script>
        <script src="./js/loginScript.js"></script>
    </body>
</html>